.section-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.shortUrl {
    text-align: center;
    border-bottom: 1px solid black;
    margin: auto;
    width: fit-content;
    padding: 0.5rem;
    margin-top: 4rem;
}

.section-form input,
button {
    height: 50px;
    border: none;
    border-radius: none;
}

.section-form input {
    background-color: rgb(239, 236, 236);
    width: 300px;
    text-align: center;
    font-size: 1rem;
    padding-inline: 0.5rem;
}

.section-form button {
    background-color: rgb(43, 42, 42);
    color: whitesmoke;
    font-size: 1rem;
    width: 100px;
    cursor: pointer;
}